@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --bg-primary: #0e1217;
    --bg-secondary: #1c1f26;
    --bg-tertiary: #32353b;
    --bg-cuaternary: #2b2e34;
    --primary: #fff;
    --accent: #a8b3cf;
    --accent-darker: #707789;
    --muted: #525866;
    --logo: #f8f9fa;
  }
  .light {
    --bg-primary: #ffffff;
    --bg-secondary: #f5f5f5;
    --bg-tertiary: #e0e0e0;
    --bg-cuaternary: #cccccc;
    --primary: #007bff;
    --accent: #2a7fff;
    --accent-darker: #0044cc;
    --muted: #6c757d;
    --logo: #202020;
  }

  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--accent) var(--bg-primary);
    scroll-snap-type: y mandatory;
  }
}
